* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

/* between tall and square */
@media (orientation: portrait) and (max-height: 1.76vw) and (min-width: 721px) {
    body {
        background-image: url('./images/BGSR-1060.png')
    }
}
@media (orientation: portrait) and (max-height: 1.76vw) and (max-width: 720px) and (min-width: 481px) {
    body {
        background-image: url('./images/BGSR-720.png')
    }
}
@media (orientation: portrait) and (max-height: 1.76vw) and (max-width: 480px) {
    body {
        background-image: url('./images/BGSR-480.png')
    }
}

/* most tall */
@media (orientation: portrait) and (min-height: 1.76vw) and (min-height: 1266px) {
    body {
        background-image: url('./images/BGSR-1060.png')
    }
}
@media (orientation: portrait) and (min-height: 1.76vw) and (max-height: 1265) and (min-height: 845px) {
    body {
        background-image: url('./images/BGSR-720.png')
    }
}
@media (orientation: portrait) and (min-height: 1.76vw) and (max-height: 844px) {
    body {
        background-image: url('./images/BGSR-480.png')
    }
}

/* between wide and square */
@media (orientation: landscape) and (min-height: 1.76vw) and (min-height: 721px) {
    body {
        background-image: url('./images/BGS-1060.png')
    }
}
@media (orientation: landscape) and (min-height: 1.76vw) and (max-height: 720px) and (min-height: 481px) {
    body {
        background-image: url('./images/BGS-720.png')
    }
}
@media (orientation: landscape) and (min-height: 1.76vw) and (max-height: 480px) {
    body {
        background-image: url('./images/BGS-480.png')
    }
}

/* most wide */
@media (orientation: landscape) and (max-height: 1.76vw) and (min-width: 1266px) {
    body {
        background-image: url('./images/BGS-1060.png')
    }
}
@media (orientation: landscape) and (max-height: 1.76vw) and (max-width: 1265) and (min-width: 845px) {
    body {
        background-image: url('./images/BGS-720.png')
    }
}
@media (orientation: landscape) and (max-height: 1.76vw) and (max-width: 844px) {
    body {
        background-image: url('./images/BGS-480.png')
    }
}

@font-face {
    font-family: Josefin;
    src: url('./fonts/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: Tangerine;
    src: url('./fonts/Tangerine-Regular.ttf');
}

@font-face {
    font-family: NothingYouCanDo;
    src: url('./fonts/NothingYouCouldDo-Regular.ttf');
}